S
img, embed, object, video {
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
  font-family: helvetica;
}

h3 {
  font-family: helvetica;
}

p {
  font-family: helvetica;
}

.name-box {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-family: helvetica;
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

/* Memory Game Card */                  /* referenced w3schools.com for cards and hover styling */
.memogame-card {
  box-shadow: 0 5px 9px 0 #868686;
  transition: 0.5s;
  font-family: helvetica;
  text-align: center;
}

.memogame-card:hover {
  box-shadow: 0 8px 16px 0 #868686;
}

/* Classic Arcade Game Card */
.arcadegame-card {
  box-shadow: 0 5px 9px 0 #868686;
  transition: 0.5s;
  font-family: helvetica;
  text-align: center;
}

.arcadegame-card:hover {
  box-shadow: 0 8px 16px 0 #868686;
}

/* Feed Reader Testing Card */
.feedreader-card {
  box-shadow: 0 5px 9px 0 #868686;
  transition: 0.5s;
  font-family: helvetica;
  text-align: center;
}

.feedreader-card:hover {
  box-shadow: 0 8px 16px 0 #868686;
}

/* Restaurant Reviews Card */
.restreviews-card {
  box-shadow: 0 5px 9px 0 #868686;
  transition: 0.5s;
  font-family: helvetica;
  text-align: center;
}

.restreviews-card:hover {
  box-shadow: 0 8px 16px 0 #868686;
}

/* Contact container */
.contact {
  display: flex;
  flex-wrap: wrap;
}

/* email, linkedin, twitter info */
.contact-txt {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 300px) {

  .container{
    padding-left: 5px;
    justify-content: center;
  }

  .name-box {
    justify-content: center;
  }

  .mylogo {
    height: 30px;
    width: 8%;
    padding-top: 5px;
  }

  .name {
    font-size: 30px;
    padding-left: 10px;
    width: 100%;
  }

  .about {
    justify-content: center;
  }

  .about-hed {
    width: 100%;
    text-align: center;
  }

  .grad-cap {
    height: 120px;
    width: 100%:
  }

  .about-info {
    margin-left: 10px;
    width: 100%;
    text-align: center;
  }

  .work-hed {
    width: 100%;
    text-align: center;
  }

  .memogame-card {
    width: 100%;
  }

  .arcadegame-card {
    width: 100%;
    padding-top: 5px;
  }

  .feedreader-card {
    width: 100%;
    padding-top: 5px;
  }

  .restreviews-card {
    width: 100%;
    padding-top: 5px;
  }

  .memogame-image {
    height: 75px;
    width: 45%;
  }

  .arcadegame-image {
    height: 75px;
    width: 30%;
  }

  .feedreader-image {
    height: 65px;
    width: 20%;
  }

  .restreviews-image {
    height: 75px;
    width: 30%;
  }

  .contact {
    justify-content: center;
  }

  .contact-hed {
    width: 100%;
    text-align: center;
  }

  .email-img {
    height: 40px;
    padding-right: 75px;
  }

  .linkedin-img {
    height: 40px;
    padding-right: 50px;
  }

  .twitter-img {
    height: 40px;
    padding-left: 15px;
  }

  .my-email {
    font-size: 9px;
    width: 20%;
    padding: 0 50px 0 0;
  }

  .my-linkedin {
    font-size: 9px;
    width: 20%;
    padding: 0 50px 0 0;
  }

  .my-twitter {
    font-size: 9px;
    width: 20%;
    padding: 0 0 0 20px;
  }
}

@media screen and (min-width: 400px) {
  .mylogo {
    height: 35px;
    padding-top: 10px;
  }

  .grad-cap {
    height: 105px;
    width: 20%:
  }

  .memogame-image {
    height: 85px;
    width: 40%;
  }

  .arcadegame-image {
    height: 85px;
  }

  .feedreader-image {
    height: 75px;
  }

  .restreviews-image {
    height: 80px;
  }

  .contact {
    width: 100%;
  }

  .my-email {
    font-size: 10px;
    padding: 0 0 0 15px;
  }

  .my-linkedin{
    font-size: 10px;
    padding: 0 0 0 50px;
  }

  .my-twitter {
    font-size: 10px;
    padding: 0 0 0 60px;
  }
}

@media screen and (min-width: 500px) {

  .mylogo {
    height: 40px;
  }

  .name {
    font-size: 30px;
    width: 100%;
  }

  .grad-cap {
    height: 120px;
    width: 100%:
  }

  .about-info {
    margin-left: 10px;
    width: 100%;
    font-size: 20px;
  }

  .arcadegame-card {
    padding-top: 5px;
  }

  .memogame-image {
    height: 90px;
  }

  .arcadegame-image {
    height: 85px;
  }

  .email-img {
    height: 50px;
    padding-right: 75px;
  }

  .linkedin-img {
    height: 50px;
    width: 12%;
    padding-right: 50px;
  }

  .twitter-img {
    height: 50px;
    width: 12%;
    padding-left: 15px;
  }

  .my-email {
    font-size: 12px;
    padding: 0 0 0 30px;
  }

  .my-linkedin {
    font-size: 12px;
    padding: 0 0 0 55px;
  }

  .my-twitter {
    font-size: 12px;
    padding: 0 0 0 55px;
  }
}

@media screen and (min-width: 768px) {

  .mylogo {
    height: 65px;
    padding-top: 10px;
    justify-content: center;
  }

  .name {
    font-size: 50px;
    padding-left: 10px;
    width: 100%;
  }

  .about-hed {
    font-size: 25px;
  }

  .about {
    padding-left: 20px
  }

  .grad-cap {
    height: 150px;
    width: 40%:
  }

  .about-info {
    margin-left: 15px;
    width: 60%;
    font-size: 25px;
    text-align: left;
  }

  .work-hed {
    font-size: 25px;
  }

  .memogame-card {
    width: 45%;
    padding-left: 5px;
  }

  .arcadegame-card {
    width: 45%;
    padding-left: 15px;
  }

  .feedreader-card {
    width: 46%;
    padding-top: 10px;
  }

  .restreviews-card {
    width: 46%;
    padding-left: 15px;
  }

  .memogame-hed {
    font-size: 25px;
  }

  .arcadegame-hed {
    font-size: 25px;
  }

  .feedreader-hed {
    font-size: 25px;
  }

  .restreviews-hed {
    font-size: 25px;
  }

  .memogame-image {
    height: 110px;
    width: 50%;
  }

  .arcadegame-image {
    height: 110px;
    width: 40%;
    padding-bottom: 5px;
  }

  .feedreader-image {
    height: 85px;
    width: 25%;
  }

  .restreviews-image {
    height: 100px;
    width: 45%;
    padding-bottom: 5px;
  }

  .contact-hed {
    font-size: 25px;
  }

  .email-img {
    height: 80px;
    width: 12%;
    padding-right: 95px;
  }

  .linkedin-img {
    height: 80px;
    width: 12%;
    padding-right: 50px;
  }

  .twitter-img {
    height: 80px;
    width: 12%;
    padding-left: 25px;
  }

  .my-email {
    font-size: 16px;
    padding: 0 0 0 55px;
  }

  .my-linkedin {
    font-size: 16px;
    padding: 0 0 0 70px;
  }

  .my-twitter {
    font-size: 16px;
    padding: 0 0 0 70px;
  }
}

@media screen and (min-width: 900px) {

  .mylogo {
    height: 90px;
    padding-top: 15px;
  }

  .name {
    font-size: 50px;
  }

  .about-hed {
    font-size: 30px;
  }

  .about {
    justify-content: left;
    padding-left: 150px;
  }

  .grad-cap {
    height: 200px;
    width: 40%:
  }

  .about-info {
    width: 60%;
    font-size: 22px;
  }

  .work-hed {
    font-size: 30px;
  }

  .memogame-card {
    width: 45%;
    padding-left: 5px;
  }

  .arcadegame-card {
    width: 45%;
    padding-left: 25px;
  }

  .memogame-image {
    height: 140px;
    width: 60%;
  }

  .arcadegame-image {
    height: 120px;
    width: 50%;
    padding-bottom: 10px;
  }

  .feedreader-image {
    height: 120px;
    width: 30%;
  }

  .restreviews-image {
    height: 120px;
    width: 50%;
    padding-bottom: 10px;
  }

  .contact-hed {
    padding-top: 40px;
    font-size: 30px;
  }

  .email-img {
    height: 100px;
  }

  .linkedin-img {
    height: 100px;
  }

  .twitter-img {
    height: 100px;
  }

  .my-email {
    font-size: 19px;
    padding: 0 0 0 50px;
  }

  .my-linkedin {
    font-size: 19px;
    padding: 0 0 0 90px;
  }

  .my-twitter {
    font-size: 19px;
    padding: 0 0 0 70px;
  }
}
